*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*About page*/
.about{
	background-color:Gray;
	display:flex;	
	flex-direction:column;
}

.heading3{
	justify-content:center;
	text-align:center;
	font-family:century;
	font-size:4rem;
	color:white;
	font-weight:bold;
	margin-bottom:30px;
}

.details{
	display:flex;
	box-sizing:border-box;
}

.details img{
	width:600px;
	height:500px;
}

.intro{
	display:flex;
	flex-direction:column;
	text-align:justify;
	padding:10px;
	color:white
}
.intro h2{
	font-size:2rem;
	margin-bottom:15px;
}

.para2{
	font-size:1.5rem;
}


